nav{
  width: 100vw;
  background-color: #D22118;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;
}

li{
  list-style-type: none;  
  margin: 0 2vw;
  font-size: 4vh;
}

a{
  text-decoration: none;
  color: white;
  padding: 2vw;
  font-family: monospace;
}

b{
  text-decoration: none;
  color: #D22118;
  padding: 2vw;
  font-family: monospace;
}


nav > ul > li {
  position: relative;
  display: inline-block; 
}
nav > ul > li > ul {
  position: absolute;
  list-style-type: none;
  background-color: #D22118;
  display: none;
}
nav > ul > li:hover > ul { 
  display: block; 
}

a:hover{
  color: blue;
}

  #button1 {
    position: absolute;
    top: 410px;
    left: 46%;
    font-size: 5vh;
    margin-top: 75px;
  }
  #logo {
    position: absolute;
    top: 310px;
    left: 60%;
  } #kopf {
    height: 240px;
    width: 240px;
}

#benutzername {
    position: relative;
    margin-top: 10px;
    top: 20%;
    left: 1%;
    font-size: 3.7vh;
}

#passwort {
    margin-top: 10px;
    position: relative;
    top: 30%;
    left: 1%;
    font-size: 3.7vh;
}

#logoindex {
    margin-top: 10px;
    position: relative;
    top: 60%;
    left: 41%;
    width: 100px;
}

#login {
    margin-top: 10px;
    position: relative;
    top: 40%;
    left: 1%;
}

#registrieren {
    position: relative;
    top: 50%;
    left: 1%;
}